name: Build UN1CA Rom For Samsung Galaxy A23 5G

on:
  workflow_dispatch:
  pull_request:
  push:
    branches:
      - 'fourteen'

jobs:
  build:
    runs-on: ubuntu-24.04

    strategy:
      fail-fast: false
      matrix:
        target: [a23xq]

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4.2.2
        with:
          submodules: 'recursive'

      - name: Free disk space
        uses: rokibhasansagar/slimhub_actions@main
        with:
          retain: 'compiler_cmake'

      - name: Set up build environment
        run: |
          sudo apt update
          DEBIAN_FRONTEND=noninteractive sudo apt install -yq \
            attr ccache clang ffmpeg golang \
            libbrotli-dev libgtest-dev libprotobuf-dev libunwind-dev libpcre2-dev \
            libzstd-dev linux-modules-extra-$(uname -r) lld protobuf-compiler webp \
            zipalign e2fsprogs f2fs-tools pv
          sudo modprobe erofs f2fs
          git config --global user.name "github-actions[bot]"
          git config --global user.email "41898282+github-actions[bot]@users.noreply.github.com"
          echo -n "${{ secrets.PLATFORM_KEY_PK8 }}" | base64 --decode > unica/security/unica_platform.pk8
          echo -n "${{ secrets.PLATFORM_KEY_PEM }}" | base64 --decode > unica/security/unica_platform.x509.pem

      - name: Set up JDK 11
        uses: actions/setup-java@v4.6.0
        with:
          distribution: 'temurin'
          java-version: '11'
          cache: 'gradle'

      - name: Set up Node.js
        uses: actions/setup-node@v4.1.0
        with:
          node-version: 'latest'

      - name: Build dependencies
        run: source ./buildenv.sh ${{ matrix.target }}

      - name: Download stock firmwares
        run: |
          source ./buildenv.sh ${{ matrix.target }}
          ./scripts/download_fw.sh

      - name: Extract stock firmwares
        run: |
          source ./buildenv.sh ${{ matrix.target }}
          ./scripts/extract_fw.sh
          ./scripts/cleanup.sh odin

      - name: Build ROM
        run: |
          source ./buildenv.sh ${{ matrix.target }}
          ./scripts/make_rom.sh

      - name: tar xz full compression 1000000% aura - @mazurikian
        run: |
          source ./buildenv.sh ${{ matrix.target }}
          ./scripts/tar-xz-aura.sh

      - name: Check for ZIP file existence
        run: |
          ls;cd out;ls || true
  
      - name: Upload to transfer.sh (3rd party mirror)
        run: |
          source ./buildenv.sh ${{ matrix.target }}
          ./scripts/upload-to-somewhere.sh

      - name: Upload artifacts (Build ZIP)
        uses: actions/upload-artifact@v3
        with:
          name: rom-artifacts
          path: |
              /home/runner/work/UN1CA/UN1CA/out/build-a23xq.tar.xz
      
      - name: Upload artifacts (Odin flashable)
        uses: actions/upload-artifact@v3
        with:
            name: odin-artifacts
            path: |
                /home/runner/work/UN1CA/UN1CA/out/build-a23xq-odin.tar.md5

      - name: Create Release
        id: create_release
        uses: actions/create-release@v1
        with:
            tag_name: "v${{ github.run_number }}"
            release_name: "UN1CA ROM v${{ github.run_number }}"
            body: |
              This is the UN1CA ROM for Samsung Galaxy A23 5G built automatically.
              Includes:
              - ZIP File (inside the tar.xz)
            draft: false
            prerelease: true
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        
      - name: Upload ROM TAR.XZ to Release
        uses: actions/upload-release-asset@v1
        with:
              upload_url: ${{ steps.create_release.outputs.upload_url }}
              asset_path: "/home/runner/work/UN1CA/UN1CA/out/build-a23xq.tar.xz"
              asset_name: "build-a23xq.tar.xz"
              asset_content_type: "application/x-xz"
